// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Custom colors:
$dark-red: rgb(184, 37, 37);
$darkest-red: rgb(123, 20, 20);
$light-grey: rgb(211, 211, 211);
$button-color: purple;
$button-hover-color: #6b1e68;
$button-text-color: white;
$button-border-radius: 4px;
